@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --bg: #201b2c;
    --cor1: #77ffc0;
    --cor2: #2f2841;
    --cor3: #00ff88;
    --cor4: #514869;
    --cor5: #f0ffffde;
    --cor6: #f0ffff94;
    --cor7: #2b134b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login >h1 {
    font-size: 3vw;
    color: var(--cor1);
}

.left-login-img {
    width: 35vw;;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--cor2);
    border-radius: 20px; 
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.350);
}

.card-login > h1 {
    color: var(--cor3);
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--cor4);
    color: var(--cor5);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.350);
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: var(--cor6);
}

.textfield > label {
    color: var(--cor5);
    margin-bottom: 10px;
}

.card-login span {
    color: var(--cor1);
}

.card-login span > a {
    text-decoration: none;
    color: var(--cor3);
}

.card-login span > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--cor7);
    background: var(--cor3);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff0052;
}

.btn-login:hover {
    background: var(--cor1);
}

@media only screen and (max-width:950px){
    .card-login{
        width: 90%;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: 60vh;
    }

    .left-login-img {
        width: 50vw;
    }

    .right-login{
        min-width: 60%;
    }

    .card-login {
        width: 100%;
    }
}